/* 下拉菜单的样式 */

/* .el-scrollbar {
    width: 200px !important;

}

:deep(.el-popper__arrow) {
    left: 45%;
} */

.el-table .el-table__cell {
    z-index: unset !important;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .el-table .el-table__cell {
    z-index: unset !important;
}

.el-menu--collapse .el-sub-menu .el-sub-menu__icon-arrow, .el-menu--collapse .el-sub-menu span {
    display: none !important;
}

.el-breadcrumb {
    margin: 10px 0 !important;
}

/* 让el-tree父级不显示复选框的样式 */

.el-tree .el-tree-node .is-leaf+.el-checkbox .el-checkbox__inner {
    display: inline-block;
}

.el-tree .el-tree-node .el-checkbox .el-checkbox__inner {
    display: none
}